li p {
    display: inline;
    text-align: left;
}

li {
    text-align: left;
    text-decoration: none;
}

li p::nth-child(2) {
    margin-left: 40px;
}

.commenter_name {
    text-decoration: none;
    padding-left: 10ox;
    padding-right: 10px;
}