::-webkit-scrollbar {
    display: none;
}

.centered-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.masthead-brand {
    background-color: rgba(199, 38, 41, 0.64);
    padding: 5px;
}

#main_container {
    background-color: rgba(0, 0, 0, 0.53);
    padding: 15px;
    border: 3px solid #fff;
}

.site-wrapper {
    background-image: url('img/dose_welcome.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reply li {
    margin: 10px 10px;
}

.comment_text {
}

.comment li {
    margin: 10px 10px;
}

#full_post {
    display: none;
    height: 420px;
}

.post_container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.post_container > .container {
    overflow-x: scroll;
    height: 240px;
}

.winner-cont {
    background-color: red !important;
    padding: 10px !important;
    border: 1px solid  #000;
}

li p {
    display: inline;
    text-align: left;
}

ul {
    list-style: none;
}

li {
    text-align: left;
    text-decoration: none;
}

li p::nth-child(2) {
    margin-left: 40px;
}

.commenter_name {
    text-decoration: none;
    padding-left: 10ox;
    padding-right: 10px;
}

.commenter_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.spin_image {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1800deg);
        animation-timing-function: ease-out;
    }

    100% {
        transform: rotate(3600deg) scaleY(-1);
        animation-timing-function: ease-in;
    }
}

#showResult {
    padding: 25px;
}